####### OpenSIPS configuration by Roman Syrtlanov 3.6.7#########

#debug_mode=yes

log_level=4
stderror_enabled=yes
syslog_enabled=yes
stderror_level_filter=4
syslog_level_filter=4
syslog_facility=LOG_LOCAL7
udp_workers=4
auto_aliases=no
open_files_limit=4096
tcp_keepalive=1


####### Modules Section ########
mpath="/usr/lib/x86_64-linux-gnu/opensips/modules/"

#disable_dns_blacklist=no
#dns_try_ipv6=yes
disable_core_dump=no
disable_503_translation=yes

loadmodule "proto_udp.so"
loadmodule "proto_tcp.so"
loadmodule "proto_tls.so"
loadmodule "proto_ws.so"
loadmodule "proto_wss.so"

socket=udp:145.63.134.84:5060
socket=tcp:145.63.134.84:5060
socket=tls:145.63.134.84:5061
socket=ws:145.63.134.84:5066
socket=wss:145.63.134.84:7443
alias=udp:sbc.elaynolie.ru:5060
alias=udp:145.63.134.84:5060
socket=udp:2a13:4ac0:8:4:f816:3eff:fe18:6458:5060

tcp_connection_lifetime = 3605
tcp_max_connections = 2048
dns=no
dns_retr_time=1
dns_retr_no=3
dns_try_ipv6=no
check_via=0
disable_503_translation=no
mhomed=1


#### DB Module
loadmodule "db_postgres.so"
modparam("db_postgres", "max_db_queries", 20)
modparam("db_postgres", "timeout", 2)
db_default_url="postgres://opensips:opensipsrw@localhost/opensips"

#### Most needed modules #####
loadmodule "signaling.so"
loadmodule "sl.so"
loadmodule "tm.so"
loadmodule "options.so"
loadmodule "gflags.so"

modparam("tm", "fr_timeout", 30)
modparam("tm", "fr_inv_timeout", 30)
modparam("tm", "restart_fr_on_each_reply", 0)
modparam("tm", "onreply_avp_mode", 1)


#### Record Route Module
loadmodule "rr.so"
modparam("rr", "append_fromtag", 1)
modparam("rr", "enable_double_rr", 1)

modparam("proto_ws", "ws_port", 5066)

loadmodule "httpd.so"
modparam("httpd", "ip", "0.0.0.0")
modparam("httpd", "port", 8080)
modparam("httpd", "buf_size", 524288)

loadmodule "cfgutils.so"
modparam("cfgutils", "shvset", "ping_noresponse=i:0")

loadmodule "dialog.so"
modparam("dialog", "db_mode", 0)
modparam("dialog", "enable_stats", 1)
modparam("dialog", "hash_size", 1024)
modparam("dialog", "dlg_match_mode", 2)
modparam("dialog", "profiles_with_value", "TotalCalls; Carrier; Client")
modparam("dialog", "delete_delay", 10)
#modparam("dialog", "db_url", "postgres://opensips:opensipsrw@10.70.0.5/opensips")

loadmodule "dialplan.so"
modparam("dialplan", "db_url", "postgres://opensips:opensipsrw@localhost/opensips")


#### MAX ForWarD module
loadmodule "maxfwd.so"

#### SIP MSG OPerationS module
loadmodule "sipmsgops.so"

#### FIFO Management Interface
loadmodule "mi_fifo.so"
modparam("mi_fifo", "fifo_name", "/run/opensips/opensips_fifo")
modparam("mi_fifo", "fifo_mode", 0666)

loadmodule "textops.so"

#### USeR LOCation module
loadmodule "usrloc.so"
modparam("usrloc", "nat_bflag", "NAT")
modparam("usrloc", "working_mode_preset", "single-instance-sql-write-through")
modparam("usrloc", "db_url", "postgres://opensips:opensipsrw@localhost/opensips")

loadmodule "registrar.so"
modparam("registrar", "tcp_persistent_flag", "TCP_PERSISTENT")
modparam("registrar", "max_contacts", 4)
loadmodule "acc.so"
modparam("acc", "early_media", 0)
modparam("acc", "report_cancels", 0)
modparam("acc", "detect_direction", 0)


loadmodule "nathelper.so"
modparam("nathelper", "received_avp", "$avp(RECEIVED)")
modparam("nathelper", "natping_interval", 10)
modparam("nathelper", "ping_nated_only", 1)
modparam("nathelper", "sipping_from", "sip:keepalive@145.63.134.84")
modparam("nathelper", "remove_on_timeout_bflag", "DEAD_CONTACT")
modparam("nathelper", "sipping_method", "OPTIONS")

loadmodule "permissions.so"
modparam("permissions", "db_url", "postgres://opensips:opensipsrw@localhost/opensips")

loadmodule "uac.so"
modparam("uac","restore_mode","auto")

loadmodule "uac_registrant.so"
modparam("uac_registrant", "hash_size", 2)
modparam("uac_registrant", "timer_interval", 120)
modparam("uac_registrant", "enable_clustering", 0)
modparam("uac_registrant", "table_name", "registrant")

loadmodule "uac_auth.so"
modparam("uac_auth","auth_realm_avp","$avp(auth_realm)")
modparam("uac_auth","auth_username_avp","$avp(auth_user)")
modparam("uac_auth","auth_password_avp","$avp(auth_pwd)")

loadmodule "cachedb_local.so"
modparam("cachedb_local", "cachedb_url", "local:last_contacts://")
modparam("cachedb_local", "cache_collections", "last_contacts=3600")

loadmodule "sqlops.so"
modparam("sqlops", "db_url", "postgres://opensips:opensipsrw@localhost/opensips")

loadmodule "ratelimit.so"
modparam("ratelimit", "timer_interval", 1)
modparam("ratelimit", "expire_time", 1800)
modparam("ratelimit", "hash_size", 2048)
modparam("ratelimit", "default_algorithm", "TAILDROP")

loadmodule "rtpengine.so"
modparam("rtpengine", "rtpengine_sock", "udp:127.0.0.1:7724")

loadmodule "auth.so"
modparam("auth", "calculate_ha1", 0)
modparam("auth", "disable_nonce_check", 1)


loadmodule "auth_db.so"
modparam("auth_db", "user_column", "username")
modparam("auth_db", "password_column", "ha1")
modparam("auth_db", "use_domain", 0)
modparam("auth_db", "calculate_ha1", 0)

#### DISPATCHER module
loadmodule "dispatcher.so"
modparam("dispatcher", "db_url", "postgres://opensips:opensipsrw@localhost/opensips")
modparam("dispatcher", "table_name", "dispatcher")
modparam("dispatcher", "ds_ping_method", "OPTIONS")
modparam("dispatcher", "ds_probing_mode", 1)
modparam("dispatcher", "ds_probing_list", "1")
modparam("dispatcher", "ds_ping_interval", 10)
modparam("dispatcher", "ds_probing_threshold", 10)
modparam("dispatcher", "ds_probing_sock", "udp:145.63.134.84:5060")
modparam("dispatcher", "ds_ping_from", "sip:opensips@145.63.134.84")
modparam("dispatcher", "options_reply_codes", "501,403,404,400,200")

loadmodule "drouting.so"
modparam("drouting", "db_url", "postgres://opensips:opensipsrw@localhost/opensips")
modparam("drouting", "probing_from", "sip:sbc@145.63.134.84")
modparam("drouting", "use_partitions", 0)
modparam("drouting", "persistent_state", 0)
modparam("drouting", "probing_interval", 5)
modparam("drouting", "use_domain", 0)

loadmodule "carrierroute.so"
modparam("carrierroute", "config_source", "db")
modparam("carrierroute", "db_url", "postgres://opensips:opensipsrw@localhost/opensips")
modparam("carrierroute", "db_table", "carrierroute")
modparam("carrierroute", "default_tree", "default")
modparam("carrierroute", "carrier_table", "route_tree")

loadmodule "tls_wolfssl.so"
loadmodule "tls_mgm.so"
modparam("tls_mgm","server_domain", "default")
modparam("tls_mgm","match_ip_address", "[default]*")
modparam("tls_mgm","verify_cert", "[default]0")
modparam("tls_mgm","require_cert", "[default]0")
modparam("tls_mgm","tls_method", "[default]TLSv1_2")
modparam("tls_mgm", "certificate", "[default]/etc/letsencrypt/live/sbc.elaynolie.ru/fullchain.pem")
modparam("tls_mgm", "private_key", "[default]/etc/letsencrypt/live/sbc.elaynolie.ru/privkey.pem")
#modparam("tls_mgm","ca_list", "[default]/etc/opensips/tls/user/user-calist.pem")

loadmodule "topology_hiding.so"
modparam("topology_hiding", "th_contact_encode_param", "SBC_ELAYNOLIE")
modparam("topology_hiding", "th_contact_encode_passwd", "did")
modparam("topology_hiding", "th_callid_prefix", "sbc_")


include_file "route.cfg"
