startup_route {
	route(SEND_OPTIONS);
  }

route{
if ($socket_in(proto) == "WS" || $socket_in(proto) == "WSS") {
    setflag("SRC_WSS");
} else if ($socket_in(proto) == "UDP") {
    setflag("SRC_UDP");
}
    force_rport();
    route(PING);
    route(ANTI_SCAN);
    xlog("L_INFO", "$ci|start|recieved $oP request $rm $ou");
   
 if (!mf_process_maxfwd_header(10)) {
    xlog("L_ERR", "$ci|Loop detected|received $oP request $rm $ou\n");
    send_reply(483,"Too Many Hops");
    exit;
}

    if (has_totag()) {
        if ( is_method("ACK|CANCEL") && t_check_trans() ){
            t_relay();
            exit;
        }
        if ( !loose_route() ) {
            send_reply(404,"Not here");
            exit;
        }
        if (is_method("BYE")) {
            rtpengine_use_set(1);
            rtpengine_delete();
            do_accounting("log","failed");
        }
        t_relay();
        exit;
    }
    t_check_trans();




    if(!(is_method("REGISTER"))){
        if(is_myself("$fd") || $si == 185.224.132.227) {
        }else {}
        }if (!is_myself("rd")){
        }else{
        xlog("L_NOTICE", "RELAY_FORBIDDEN from=$si:$sp user=$fU@$fd to=$rU@$rd\n");
        send_reply(403,"Relay Forbidden");
        exit;
    }


    if (loose_route()) {
        xlog("L_ERR", "Attempt to route with preloaded Route's [$fu/$tu/$ru/$ci]");
        if (!is_method("ACK")) send_reply(403,"Preload Route denied");
        exit;
    }


    if (is_method("REGISTER")) {
        route("NATMANAGE");
        route("AUTH");
        route("REGISTRAR");
    }
	# record routing
	if (!is_method("REGISTER|MESSAGE"))
		remove_hf("Route");
		record_route();


if (is_method("INVITE") && !has_totag()) {
    if (!rl_check("$si", 2, "TAILDROP")) {
        send_reply(503, "Rate Limit Exceeded");
        exit;
    }
    set_dlg_profile("TotalCalls", $si);
    create_dialog();
    do_accounting("db|log");
}

	if (!is_myself("$rd")) {
		append_hf("X-FS-CALL: Call from $si\r\n"); 
	}
	
    if (is_method("REFER|MESSAGE")) {
		send_reply(405, "Method Not Allowed");
		exit;
	}

	if (is_method("PUBLISH|SUBSCRIBE")) {
		send_reply(503, "Service Unavailable");
		exit;
	}

	if ($rU==NULL) {
		# request with no Username in RURI
		send_reply(484,"Address Incomplete");
		exit;
	}

	if (!lookup("location","method-filtering")) {
		remove_hf("Contact");
		route(FIX_CONTACT);
		route(CHECK_DIRECTION);
		#route(TO_GATEWAY);
		route(TO_PSTN);
		}



	do_accounting("log","missed");
	route(RELAY);
}

route[SEND_OPTIONS] {
    t_new_request(
        "OPTIONS",
        "sip:sip.zadarma.com",
        "sip:337293@145.63.134.84.172",
        "sip:337293@sip.zadarma.com"
    );
}

route[CHECK_DIRECTION] {
   if (dp_translate(99, $rU, $var(dp_result), $var(dp_attrs))) {
    xlog("L_NOTICE", "FAIL_DIRECTION from=$si:$sp user=$fU@$fd blocked=$var(dp_attrs)\n");
    send_reply(403, "Forbidden");
    exit;
}
    }


route[RELAY] {
	if (is_method("INVITE"))  {
        t_on_reply("GLOBAL");
		t_on_branch("branch_manage");
		t_on_failure("missed_call");
	}

    if ((is_method("INVITE"))&&!has_totag()) {
        route(SDPMANAGE);
    }
	if(!t_relay()) {
		send_reply(500,"Internal Error");
        xlog("L_ERR", "RELAY_FAIL from=$si:$sp destination=$rU@$rd rc=$rc\n");
		exit;
			}
}


route[TOPOH]{
	if(!has_totag() && is_method("INVITE")) {
	topology_hiding("U");
}	
}

route[NATMANAGE]{
    force_rport();
    if (nat_uac_test("private-contact,diff-ip-src-via,diff-port-src-via")) {
        xlog("L_INFO", "pt=[$time(%FT%T)] [NATMANAGE] NAT detected for $fu\n");
        fix_nated_register();
        setbflag("NAT");
        setbflag("SIPPING_ENABLE");
        setbflag("DEAD_CONTACT");
    }
}

route[TO_PSTN] {
    if (dp_translate(1, $rU, $var(out))) {
        xlog("L_INFO", "pt=[$time(%FT%T)] [TO_PSTN] Translated: [$rU] -> [$var(out)]\n");
        $rU = $var(out);
    } else {
        xlog("L_WARN", "pt=[$time(%FT%T)] [TO_PSTN] No dialplan match for [$rU], using as-is\n");
    }
        $ru = "sip:" + $rU + "@185.224.132.227:5080";
	#ds_select_dst(2, 0);
        uac_replace_to("", $ru);
        route(RELAY);
        exit;
}

route[TO_ELEVENLABS] {
    xlog("L_INFO", "pt=[$time(%FT%T)] [TO_ELEVENLABS] Sending $rU to ElevenLabs\n");
    force_send_socket("tcp:145.63.134.84:5060");
    $var(el_uri) = "sip:" + $rU + "@sip.rtc.elevenlabs.io:5060;transport=tcp";
    $var(el_to)  = "sip:" + $rU + "@sip.rtc.elevenlabs.io";
    $ru = $var(el_uri);
    uac_replace_to("", $var(el_to));
    t_on_failure("ON_FAIL_ELEVENLABS");
    t_relay();
    exit;
}


route[DISPATCHER]{
	if (!ds_select_dst(2, 0)) {
	xlog("ERROR: no active destinations found!\n");
	send_reply(503, "Service Unavailable");
	exit;
}
}

route[PING] {
		if (is_method("OPTIONS")) {
			if ($shv(ping_noresponce) == 1) {
				drop();
			} else {
				send_reply(200, "Keepalive");
				}
				exit;
		}
		return;
			}
	



onreply_route[GLOBAL] {
    if (is_method("INVITE")) {
        if (isflagset("SRC_WSS")) {
            if (!rtpengine_answer("trust-address replace-origin SIP-source-address rtcp-mux-require SDES-off ICE=force RTP/SAVP")) {
                xlog("L_ERR", "$ci|onreply|rtpengine_answer FAILED for WSS, code=$rs\n");
            }
        } else if (isflagset("SRC_UDP")) {
            if (!rtpengine_answer("replace-origin SIP-source-address")) {
                xlog("L_ERR", "$ci|onreply|rtpengine_answer FAILED for UDP, code=$rs\n");
            }
        } else {
            xlog("L_ERR", "$ci|onreply|no SRC flag set, skipping rtpengine_answer, code=$rs\n");
        }
    }
}


route[SDPMANAGE]{
	rtpengine_offer("replace-origin SIP-source-address codec-except-opus transcode-PCMA transcode-PCMU codec-mask-G722 codec-mask-opus rtcp-mux-offer edia-address=145.63.134.84");
}

route[FIX_CONTACT]{
    $var(number)=$fU;
	$var(new_contact) = "sip:"+$var(number)+"@145.63.134.84:5060";
    insert_hf("Contact: <$var(new_contact)>\r\n","Call-ID");
}


route[REGISTRAR]{
		if (!save("location"))
			xlog("L_ERR", "REGISTRAR: failed to register AoR $tu, UA=[$ua], reason=$rc/$rs\n");		
			exit;
}

route[AUTH]{
    $var(auth_code) = www_authorize("", "subscriber");
    if ( $var(auth_code) < 0 ) {
        xlog("L_NOTICE", "AUTH_FAIL from=$si:$sp user=$fU@$fd code=$var(auth_code)\n");
        www_challenge("", "auth");
        exit;
    }
    consume_credentials();
}

route[FIREWALL]{
if (check_source_address(1)) {
    setflag("SRC_TRUSTED");
    xlog("L_INFO", "Trusted source $si:$sp accepted\n");
} else {
    xlog("L_NOTICE", "BLOCKED unknown source=$si:$sp method=$rm\n");
    sl_send_reply(403, "Forbidden");
    exit;
}
}


branch_route[branch_manage] {
	xlog("new branch at $ru\n");
}


failure_route[missed_call] {
       if(t_check_status("3[0-9][0-9]")){
    	t_reply(404, "Not found");
        exit;
    	}
		if (t_was_cancelled()) {
		exit;
	}
}


failure_route[ON_FAIL_PSTN] {
    if (t_check_status("408") || t_check_status("5[0-9][0-9]") || t_check_status("4[0-9][0-9]")) {
        xlog("L_ERR", "pt=[$time(%FT%T)] [ON_FAIL_PSTN] Operator returned [$T_reply_code], sending 603 Decline\n");
        append_to_reply("X-Reason: No pstn available;node=$du\r\n");
        send_reply(603, "Decline");
        exit;
    }
}

failure_route[ON_FAIL_ELEVENLABS] {
    xlog("L_WARN", "pt=[$time(%FT%T)] [ON_FAIL_ELEVENLABS] Failed to reach ElevenLabs for $rU\n");
    send_reply(503, "ElevenLabs Unavailable");
}


timer_route[OPTIONS, 90] {
	route(SEND_OPTIONS);
  }

event_route[E_DISPATCHER_STATUS] {
    if ($param(state) != "inactive")
        exit;
    if ($param(setid) == "1") {
        xlog("L_ALERT", "Set 1: Destination $param(destination) is DOWN! (Zadarma)\n");
    } else if ($param(setid) == "2") {
        xlog("L_ALERT", "Set 2: Destination $param(destination) is DOWN! (FreeSWITCH)\n");
    } else if ($param(setid) == "3") {
        xlog("L_ALERT", "Set 3: Destination $param(destination) is DOWN! (Telestore)\n");
    }
}

route[FIX_UA]{
		if ($ua =~ "SIP.TG" || $ua =~ "Telephone 1.6") {
    	remove_hf("User-Agent");
    	append_hf("User-Agent: Cisco-CUCM15.0\r\n");
		}
}

route[ANTI_SCAN] {
    if ($fu =~ "sipvicious" || $fd == "1.1.1.1") {
        send_reply(403, "Not allowed");
        exit;
    }
}

